/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--black);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1599px) {
  .container {
    width: 734px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 343px;
  }
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__search {
  position: relative;
}

.header__wrp-logo-form {
  display: flex;
}

.header__search-input {
  background: transparent;
}

.header__search-input:hover {
  outline: 1px solid red;
}

.header__search:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  top: 13px;
  left: 7px;
  background-image: url("../img/loupe.svg");
  background-size: 10px 10px;
}

.header__search-input {
  padding: 10px 20px;
  border: none;
  outline: 1px solid black;
  color: #F8F8F8;
}

.header__link {
  margin: 0 0 0 34px;
  display: block;
}

.header__nav {
  display: none;
  position: absolute;
  width: 232px;
  top: 80px;
  right: 0px;
  background: white;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__burger-icon {
  fill: #FFFFFF;
}

.header__burger-icon:hover,
.header__burger-icon:focus {
  fill: #5D5D5D;
}

.header__burger-icon:active {
  fill: #F16D7F;
}

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__button:hover + .header__nav,
.header__button:focus + .header__nav {
  display: block;
}

.header__nav:hover {
  display: block;
}

.header__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  padding: 37px 0 24px 34px;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.nav-sub-item__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 0 0 12px 33px;
  text-decoration: none;
}

.nav-sub-item__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 0 0 11px 27px;
  text-decoration: none;
}

.nav-sub-item__item:hover {
  color: #F26376;
  cursor: pointer;
}

.brand {
  display: flex;
  margin: 0 0 62px 0;
}

@media (max-width: 1599px) {
  .brand {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .brand {
    min-height: 370px;
    margin: 0 0 64px 0;
  }
}

.brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 68px;
  display: flex;
  align-items: center;
  background-color: #F1E4E6;
}

@media (max-width: 1599px) {
  .brand__title-wrp {
    padding: 0 0 0 92px;
  }
}

@media (max-width: 767px) {
  .brand__title-wrp {
    min-height: 363px;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 1599px) {
  .brand__img {
    width: 50%;
    min-height: 370px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  margin: 20px;
}

@media (max-width: 1599px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__title:before {
  content: '';
  width: 12px;
  height: 92px;
  position: absolute;
  background-color: #F16D7F;
  left: -28px;
  top: 5px;
}

@media (max-width: 767px) {
  .brand__title:before {
    height: 61px;
  }
}

.brand__subtitle {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1599px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  padding: 20px;
  box-sizing: border-box;
  width: 360px;
  min-height: 260px;
  background-color: #4F4745;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1599px) {
  .sales__item {
    width: 31.6%;
    min-height: 167px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    height: 247px;
  }
}

.sales__item--women {
  background-image: url(../img/sales-women.jpg);
}

.sales__item--men {
  background-image: url(../img/sales-men.jpg);
}

.sales__item--kids {
  background-image: url(../img/sales-kids.jpg);
}

.sales__item--accesories {
  width: 100%;
  background-image: url(../img/sales-accesories.jpg);
  margin: 0 0 97px 0;
}

@media (max-width: 1599px) {
  .sales__item--accesories {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .sales__item--accesories {
    min-height: 111px;
  }
}

.sales__title {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.sales__text {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
}

.catalog {
  text-align: center;
}

.catalog__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.catalog__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  margin: 0 0 57px 0;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 360px;
  background-color: #F8F8F8;
  margin: 0 0 30px 0;
  text-align: left;
}

.catalog__link {
  text-decoration: none;
}

.catalog__item-wrp {
  position: relative;
}

.catalog__item-overlay {
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  display: none;
}

.catalog__item-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.catalog__item:hover .catalog__item-overlay,
.catalog__item:hover .catalog__item-button {
  display: block;
}

.catalog__item-button:hover {
  background-color: #9F9F9F;
}

.catalog__item-button:active {
  opacity: 0.7;
}

.catalog__subtitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  padding: 24px 0 12px 18px;
}

.catalog__desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  padding: 0 25px 0 18px;
  color: #5D5D5D;
}

.catalog__price {
  color: #F16D7F;
  padding: 18px 0 20px 18px;
}

.catalog__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 15px 40px;
  border: 1px solid #F16D7F;
  background-color: #FFFFFF;
  margin: 30px 0 95px 0;
}

.catalog__button:hover,
.catalog__button:focus {
  background: #FF6A6A;
  color: white;
  box-shadow: inset 0 0 0 3px #FF6A6A;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.catalog__button:active {
  opacity: 0.7;
}

.advantage {
  background-color: #222222;
}

@media (max-width: 1599px) {
  .advantage {
    padding: 48px 0 64px 0;
  }
}

@media (max-width: 767px) {
  .advantage {
    padding: 48px 0 81px 0;
  }
}

.advantage__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 341px;
  text-align: center;
}

@media (max-width: 1599px) {
  .advantage__list {
    flex-direction: column;
    align-items: center;
  }
}

.advantage__item {
  max-width: 360px;
  text-align: center;
}

@media (max-width: 1599px) {
  .advantage__item {
    margin: 24px 0;
  }
}

.advantage__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  padding: 25px 0 16px 0;
}

.advantage__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
}

.footer__main {
  background-image: url(../img/footer-bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 448px;
}

@media (max-width: 1599px) {
  .footer__wrp {
    flex-direction: column;
    min-height: 693px;
    padding: 64px 0 140px;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .footer__wrp {
    min-height: 550px;
    padding: 64px 0 109px;
  }
}

.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  width: 360px;
  padding: 30px 0 0 0;
}

@media (max-width: 767px) {
  .footer__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
  }
}

.footer__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  padding: 0 0 20px 0;
}

@media (max-width: 767px) {
  .footer__title {
    font-size: 24px;
    line-height: 37px;
    font-weight: 700;
    font-style: normal;
  }
}

.footer__subtitle {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .footer__subtitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

/* .footer__desc {
    text-transform: uppercase;
    font-size: 24px;
    padding: 16px 0 32px 0;
} */
.footer__form {
  display: flex;
  justify-content: center;
}

.footer__input {
  width: 100%;
  border: none;
  padding: 15px;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.footer__button {
  display: block;
  border: none;
  background: #F16D7F;
  color: white;
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer__button:hover,
.footer__button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.footer__button:active {
  opacity: 0.7;
}

.footer__social {
  background-color: #222222;
}

.footer__social-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 75px;
}

@media (max-width: 767px) {
  .footer__social-wrp {
    flex-direction: column-reverse;
    padding: 43px 0 9px;
  }
}

.footer__copy {
  color: #FFFFFF;
}

.footer__desc {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  margin: 0 0 0 8px;
}
/*# sourceMappingURL=style.css.map */