$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$white: #FFFFFF;
$light-grey: #F8F8F8;
$grey: #9F9F9F;
$dark-grey: #5D5D5D;

$desktop-width: 1599px;
$tablet-mid-width: 1200px;
$tablet-width: 767px;
$tablet-mobile-mid-width: 500px;
$mobile-width: 375px;