.footer__main {
    background-image: url(../img/footer-bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 448px;

    @include tablet {
        flex-direction: column;
        min-height: 693px;
        padding: 64px 0 140px;
        box-sizing: border-box;
    }

    @include mobile {
        min-height: 550px;
        padding: 64px 0 109px;
    }
}

.footer__text {
    @include font ($font-size: 20px, $font-style: italic);
    width: 360px;
    padding: 30px 0 0 0;

    @include mobile {
        @include font (18px, 22px, $font-style: italic);
    }
}

.footer__title {
    text-transform: uppercase;
    @include font (24px, 38px, 700);
    padding: 0 0 20px 0;

    // @include tablet {
    //     font-size: 18px;
    //     font-weight: 400;
    //     line-height: 30px;
    // }

    @include mobile {
        @include font (24px, 37px, 700);
    }
}

.footer__subtitle {
    display: block;
    @include font (18px, 30px);

    // @include tablet {
    //     line-height: 28px;
    // }

    @include mobile {
        @include font (14px, 22px);
    }
}

/* .footer__desc {
    text-transform: uppercase;
    font-size: 24px;
    padding: 16px 0 32px 0;
} */

.footer__form {
    display: flex;
    justify-content: center;
}

.footer__input {
    width: 100%;
    border: none;
    padding: 15px;
    background: #E1E1E1;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.footer__button {
    display: block;
    border: none;
    background: $dark-pink;
    color: white;
    padding: 15px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer__button:hover,
.footer__button:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.footer__button:active {
    opacity: 0.7;
}

.footer__social {
    background-color: $black;
}

.footer__social-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 75px;

    @include mobile {
        flex-direction: column-reverse;
        padding: 43px 0 9px;
    }
}

.footer__copy {
    color: $white;
}

.footer__desc {
    color: $white;
    @include font(16px, 19px);
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    margin: 0 0 0 8px;
}