.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 31.6%;
    min-height: 260px;
    background-color: $sales-bkg-color;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    @include flex-center;
    flex-direction: column;

    @include tablet {
        width: 31.6%;
        min-height: 167px
    }

    @include tablet-mobile-mid {
        width: 100%;
        height: 247px;
    }

    @include mobile {
        width: 100%;
        height: 247px;
    }
}

.sales__item--women {
    background-image: url(../img/sales-women.jpg);
}

.sales__item--men {
    background-image: url(../img/sales-men.jpg);
}

.sales__item--kids {
    background-image: url(../img/sales-kids.jpg);
}

.sales__item--accesories {
    width: 100%;
    background-image: url(../img/sales-accesories.jpg);
    margin: 0 0 97px 0;

    @include tablet {
        min-height: 116px;
    }

    @include mobile {
        min-height: 111px;
    }
}

.sales__title {
    color: $white;
    @include font (16px, 19px);
}

.sales__text {
    color: $dark-pink;
    @include font (24px, 29px, 700);
}